# .NET Core
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# VS Code
.vscode/

# Runtime files
*.log
*.db

# Blazor-specific
wwwroot/cards/
wwwroot/**/*.cache
wwwroot/service-worker-assets.js

# Docker artifacts
*.pid

# OS files
.DS_Store
Thumbs.db

/certbot/conf/live
.env
/Empire.puml
Empire.Server/appsettings.json
certbot/conf/archive/empirecardgame.com/privkey1.pem
/Empire.Server/appsettings.Development.json
