@using Microsoft.AspNetCore.Components

<div class="deck" @onclick="OnDrawClick" style="cursor: pointer;">
    <img src="@CardBackImage" alt="Deck" class="card-image" />
    <span class="deck-count">@DeckCount</span>
</div>

@code {
    [Parameter] public int DeckCount { get; set; }

    [Parameter] public string CardBackImage { get; set; } = "images/Cards/defaultCardback.png";

    [Parameter] public EventCallback OnDraw { get; set; }

    private async Task OnDrawClick()
    {
        if (DeckCount > 0)
            await OnDraw.InvokeAsync();
    }
}
